<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppMakers Clipboard Plus</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body>
<main id="app">
    <header class="flex items-center text-lg px-4 py-2 bg-green-600 text-white">
        <h1 class="flex-grow">Clipboard Plus</h1>
    </header>

    <div>
        <p class="text-gray-600 p-4" v-if="!items.length">Your copied text will appear here automatically.</p>

        <div v-for="item in items" :key="item">
            <div :class="{
                'border-b flex items-center space-x-4 py-2 px-4': true,
                'bg-green-100': selectedItem === item
            }">
                <div class="flex-grow cursor-pointer truncate" @click="pasteItem(item)">
                    {{ item }}
                </div>
            </div>
        </div>
    </div>
</main>

<script src="assets/script.js"></script>

</body>
</html>
