<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppMakers Clipboard Reader</title>

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body>

<main>
    <header class=" mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">Clipboard Reader</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                <h1 class="mdc-typography--subtitle1">The App Makers</h1>
            </section>
        </div>
    </header>

    <div id="app">
        <p class="mdc-typography--caption" v-if="!items.length">Your copied text will appear here automatically.</p>
        <p class="mdc-typography--caption" v-else>Click on an item to copy it.</p>

        <div class="mdc-data-table table-container" v-if="items.length">
            <div class="mdc-data-table__table-container">
                <table class="mdc-data-table__table" aria-label="Items">
                    <tr class="mdc-data-table__row" v-for="item in items">
                        <th class="mdc-data-table__cell" scope="row">
                            <div class="mdc-chip" role="row" @click="copyText(item)">
                                <div class="mdc-chip__ripple"></div>
                                <span role="gridcell">
                                  <span role="button" tabindex="0" class="mdc-chip__primary-action">
                                    <span class="mdc-chip__text"><span class="value-to-copy">{{ item }}</span></span>
                                  </span>
                                </span>
                            </div>
                        </th>
                        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
                            <button class="mdc-icon-button material-icons text-danger" @click="removeItem(item)">
                                delete
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="mdc-snackbar mdc-snackbar--open" v-if="showCopiedSnackbar">
            <div class="mdc-snackbar__surface">
                <div class="mdc-snackbar__label"
                     role="status"
                     aria-live="polite">
                    Copied...
                </div>
            </div>
        </div>
    </div>
</main>

<script src="assets/script.js"></script>

</body>
</html>
