.table-container {
    width: 100%;
}

.text-danger {
    color: crimson;
}

.value-to-copy {
    white-space: pre-line;
}

.mdc-chip {
    height: auto;
    min-height: 2rem;
    padding: 0.5rem 1rem;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0.5rem 1rem;
}

body, html {
    margin: 0;
    padding: 0;
}

#app {
    padding: 1rem;
    padding-top: 5rem;
}
